extends layout

block content
	div.container
		h1 初級句子自動判讀糾錯系統 
		center
			div.row
				div.col-xs-12.col-sm-6
					h2 Speech to Text Result
					img(src="https://cloud.google.com/images/products/speech/speech-api-lead.png" style="height:50px")
					div.row
						div(style="border:1px solid;width:90%;height:200px")
							div(id="txt1" style="font-size:18pt") 我要開你的生日舞會
				div.col-xs-12.col-sm-6
					h2 Gramma Check
					div(style="color:red; height:50px") Using our deep learning model. <br> SEQ model w/ Verb. Volence.
					div.row
						div(style="border:1px solid;width:90%;height:200px")
							div(id='txt2' style="font-size:18pt") 　我_Nh_　要_D　<question>開_VC　你_Nh</question>　的_DE　生日_Na　舞會_Na
					div.row
		include recorder.html
