

<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css"
      integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css"
      integrity="sha384-ZlNfXjxAqKFWCwMwQFGhmMh3i89dWDnaFU2/VZg9CvsMGA7hXHQsPIqS+JIAmgEq"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css"
      integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css"
      integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7"
      crossorigin="anonymous">
<style>
.fa-microphone:hover {
      color: red;
}
</style>
<center>
<div id=recorder><i class="fas fa-microphone fa-w-11 fa-7x"></i></div>
</center>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( "#recorder" ).click( function() {
    $( "#dialog" ).dialog({modal: true,});
      $( "#txt1" ).toggle( "slow", function() {
        $( "#txt2" ).toggle( "slow", function() {
      
        });
      });

    // remove previous timeouts if it's opened more than once.
    clearTimeout(myModalTimeout);

    // hide it after a minute
    myModalTimeout = setTimeout(function() {
        $('#dialog').modal('hide');
    }, 10);


  } );
  </script>
</head>
<body>
 
<div id="dialog" title="請說話">
  <p>Recording your voices.....</p>
</div>


<script>
const recordAudio = () =>
  new Promise(async resolve => {
    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
    const mediaRecorder = new MediaRecorder(stream);
    const audioChunks = [];

    mediaRecorder.addEventListener("dataavailable", event => {
      audioChunks.push(event.data);
    });

    const start = () => mediaRecorder.start();

    const stop = () =>
      new Promise(resolve => {
        mediaRecorder.addEventListener("stop", () => {
          const audioBlob = new Blob(audioChunks);
          const audioUrl = URL.createObjectURL(audioBlob);
          const audio = new Audio(audioUrl);
          const play = () => audio.play();
          resolve({ audioBlob, audioUrl, play });
        });

        mediaRecorder.stop();
      });

    resolve({ start, stop });
  });

const sleep = time => new Promise(resolve => setTimeout(resolve, time));

const handleAction = async () => {
  const recorder = await recordAudio();
  const actionButton = document.getElementById('action');
  actionButton.disabled = true;
  recorder.start();
  await sleep(3000);
  const audio = await recorder.stop();
  audio.play();
  await sleep(3000);
  actionButton.disabled = false;
}
</script>
    <h1>Audio Recording Test</h1>
    <p>Talk for 3 seconds, then you will hear your recording played back</p>
    <button id="action" onclick="handleAction()">Start recording...</button>
